body{
    margin: 0;
    padding: 0;
    background: #313131;
    

}
header{
    padding: 20px;
    background-color:rgb(235, 243, 236);
    background-image: url(motherboard.jpg);  
    background-size: cover;
      
}
h1{
    color:whitesmoke;
    font-style:normal;
    text-align: center;
}
nav {
    background-color:cyan;
    color:white;
    padding: 10px;
    text-align: center;
}
a{
    color:black;
    text-decoration-line: none;
}
.slider
{
    width: 500px;
    height: 400px;   
    background: url(1.jpg);
    margin: 10px auto;
    animation: slide 20s infinite  ;
}
@keyframes slide{
    20%
    {
        background:url(4.jpg);
    }
    40%
    {
        background:url(3.jpg);
    }
    60%
    {
        background:url(2.webp);
    }
    80%
    {
        background:url(1.jpg);
    }
    100%
    {
        background:url(5.jpg);
    }
   

}
h4{
    color: white;
    text-align: center;
}
iframe{
    padding: 25px;
}
footer{
    
    background-color: gainsboro;
    padding: 15px
}